#### This file is to serve as a data cleaning file so we can all be working on the same data for the project! It will import the original data file with the facial recognition data and clean it to be used for a classification model for analysis.

#### Author: Aidan Kleinman
#### Date: Feb. 7th, 2026

In [1]:
#Code Block 1
## import libraries

import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Code Block 2
## load the data
train_data = pd.read_csv('../../Data/fairface_label_train.csv')
val_data = pd.read_csv('../../Data/fairface_label_val.csv')

In [5]:
#Code Block 3
## view the training data

display(train_data.head())
train_data.info()

          file    age  gender        race  service_test
0  train/1.jpg  50-59    Male  East Asian          True
1  train/2.jpg  30-39  Female      Indian         False
2  train/3.jpg    3-9  Female       Black         False
3  train/4.jpg  20-29  Female      Indian          True
4  train/5.jpg  20-29  Female      Indian          True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86744 entries, 0 to 86743
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   file          86744 non-null  object
 1   age           86744 non-null  object
 2   gender        86744 non-null  object
 3   race          86744 non-null  object
 4   service_test  86744 non-null  bool
dtypes: bool(1), object(4)
memory usage: 2.7+ MB

In [6]:
#Code Block 4
## view the validation data

display(val_data.head())
val_data.info()

        file    age  gender             race  service_test
0  val/1.jpg    3-9    Male       East Asian         False
1  val/2.jpg  50-59  Female       East Asian          True
2  val/3.jpg  30-39    Male            White          True
3  val/4.jpg  20-29  Female  Latino_Hispanic          True
4  val/5.jpg  20-29    Male  Southeast Asian         False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10954 entries, 0 to 10953
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   file          10954 non-null  object
 1   age           10954 non-null  object
 2   gender        10954 non-null  object
 3   race          10954 non-null  object
 4   service_test  10954 non-null  bool
dtypes: bool(1), object(4)
memory usage: 353.1+ KB